<div class="mb-6">
  <h2 class="text-2xl font-bold">Create Account</h2>
  <h2 class="text-sm mt-1 text-gray-500">Let’s get you started sharing your links!</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: "false"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-6">
    <%= f.label :email, class: label_class %>
    <div class="mt-1">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: input_class %>
    </div>
  </div>

  <div class="mb-6">
    <%= f.label :password,  class: label_class %>
    <%
=begin%>
 <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %> 
<%
=end%>
    <div class="mt-1">
      <%= f.password_field :password, autocomplete: "new-password",  class: input_class %>
    </div>
  </div>

  <div class="mb-6">
    <%= f.label :password_confirmation, class: label_class %>
    <div class="mt-1">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_class %>
    </div>
  </div>

  <div class="">
    <%= f.submit "Create new account", class:  form_button_class %>
  </div>
<% end %>

<%- if controller_name != 'sessions' %>
 <p class="mt-10 text-center text-sm text-gray-500">
          Already have an account?
      <%= link_to "Login", new_session_path(resource_name),  class: "font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
    </p>
<% end %>
